.nameBadge {
  cursor: pointer;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background: blue;
  width: 300px;
  border-radius: 10px;
  border: 1 px solid #555555;
  color: white;
  padding-bottom: 2em;
  padding-left: 2px;
  padding-right: 2px;

  h2 {
    margin-bottom: -10px;
  }

  .nameHolder {
    height: 50px;
    background: white;
    font-size: 1.5em;
    color: #555555;
    padding-top: 10%;
  }

  &.active {
    background: green;
  }

}