.to_do_item {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid black;

  .controls {
    text-align: right;

    .fa-plus {
      margin-right: 1em;
      cursor: pointer;
    }
  }

}