<div class="to_do_item">
  <div class="pure-g">
    <div class="pure-u-3-4">
      {{title}}
    </div>
    <div class="pure-u-1-4 controls">
      <span id="{{id}}" class="fa fa-minus remove"></span>
    </div>
  </div>
</div>